body {
  margin: 0px;
  color: #b3b3b3;
  background-color: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

body a {
  text-decoration: inherit;
  color: inherit;
}

.home h1 {
  text-align: center;
  font-weight: 100;
  font-size: 20pt;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
}

hr::before {
  content: "\002022";
  display: block;
  text-align: center;
  font-size: 8pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainpage {
  margin-top: 15px;
}

.mainpage .content {
  display: flex;
}

.mainpage .content .menu,
.mainpage .content .cover {
  background-color: #555555;
  border: 1px solid #292929;
}

.mainpage .content .menu {
  width: 180px;
  color: white;
  font-size: 12pt;
  padding: 15px;
  padding-top: 60px;
}

.mainpage .content .cover {
  width: 100%;
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.mainpage .content .cover .contact {
  padding-left: 15px;
}

.mainpage .content .menu .contact-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainpage .content .cover {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-clip: content-box;
}

.mainpage .content .cover.main {
  background-image: url("/images/09880030.jpg");
}

.mainpage .content .cover.contact {
  background-image: url("/images/contact.png");
}

.mainpage .designer {
  text-align: right;
  padding-top: 30px;
  padding-right: 2px;
  font-size: 9px;
}

div#tarteaucitronRoot {
  #tarteaucitronAlertBig {
    background: rgb(53, 58, 63);
    color: white;
    padding: 1rem;
    width: unset;
    font: inherit;
    font-size: inherit !important;
    left: 0px;
    right: 0px;
    bottom: 0px;

    #tarteaucitronDisclaimerAlert {
      display: block;
      padding: 0 0 1rem 0;
      font: inherit;
      font-size: inherit !important;
    }

    button {
      color: white;
      border: 2px solid var(--theme-color);
      padding: 18px 35px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1rem;
      background: transparent;
      transition: background-color 100ms linear;
      max-width: 300px;
      margin: 12px;
      gap: 30px;

      &.tarteaucitronAllow {
        background: var(--theme-color);
      }

      &:hover {
        color: white;
        background: var(--theme-color);
        transition: background-color 100ms linear;
      }
    }
  }

  // Customize Dialog
  #tarteaucitron {
    #tarteaucitronClosePanel,
    #tarteaucitronMainLineOffset,
    #tarteaucitronSave,
    .tarteaucitronTitle button {
      background: rgb(53, 58, 63);
    }

    #tarteaucitronInfo {
      background-color: inherit;
    }

    button.tarteaucitronAllow {
      color: white;
      border: 2px solid var(--theme-color);
      padding: 18px 35px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1rem;
      background: transparent;
      transition: background-color 100ms linear;
      max-width: 300px;
      margin: 12px;
      gap: 30px;
      background: var(--theme-color);

      &:hover {
        color: white;
        background: var(--theme-color);
        transition: background-color 100ms linear;
      }
    }
  }
}
